<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
	{% include meta-tags.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>  
    
    <script src="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-jquery.min.js"></script>
    <script src="http://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css">
    <link rel="stylesheet" href="/stylesheets/site.css">
    <link rel="canonical" href="{{ page.url | canonical }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="ch-g1 main">
      <hgroup class="ch-g1-3">
        <h1><a href="/">MELI</a></h1>
        <h2>MELI Developer Products</h2>
      </hgroup>
      <nav class="ch-g2-3">
        <ul>
          <li><a href="/getting-started">Getting Started</a></li>
          <li style="border:none"><a href="/guides">Guides</a></li>
        </ul>
      </nav>
    </header>

    <section class="main ch-g4-5">


      {{ content }}

	  <section>
		 <div class="prev_next post_nav">
			{% if page.next.url %}
				<p class="previous">
			«&nbsp;<a href="{{ page.next.url }}/" rel="previous" title="{{ page.next.title }}">{{ page.next.title | truncatewords: 15 }}</a>
				</p>
			{% endif %}
			{% if page.previous.url %}
				<p class="next">
					<a href="{{ page.previous.url }}/" rel="next" title="{{ page.previous.title }}">{{ page.previous.title | truncatewords: 15 }}</a>&nbsp;»
				</p>
			{% endif %}
		  </div>
	  </section>
      <section class="disqus">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </section>
       
    </section>
    <nav class="ch-g1-5 sidebar">
      <h2>Related posts</h2>
      <ul>
		 {% for tag in page.tags %}
          {% for post in site.tags.[tag] %}
            {% assign current = nil %}
            {% if post.id == page.id %}
              {% assign current = 'current' %}
            {% endif %}
          <li><a class="{{ current }}" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>

    <footer class="ch-g1">
      <div class="ch-g2-3 extras">
        <ul>
          <li>©2012 MercadoLibre</li>
        </ul>
      </div>
      <p class="ch-g1-3 maintained-by">This project is maintained by <a href="https://github.com/mercadolibre">mercadolibre</a></p>
      <a href="https://github.com/mercadolibre/mercadolibre.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    </footer>
    <script src="/javascripts/scale.fix.js"></script>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'melidev'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
  </body>
</html>
