<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
  
    <script src="javascripts/scale.fix.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>	  
  
    <!--link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/layout.css"-->

    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/0.10.5/chico-mesh.min.css">
    <link rel="stylesheet" href="/stylesheets/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="ch-g1 main">
      <hgroup class="ch-g1-3">
        <h1><a href="/">MELI</a></h1>
        <h2>MELI Developer Products</h2>
      </hgroup>
      <nav class="ch-g2-3">
        <ul>
          <li><a href="/getting-started">Getting Started</a></li>
          <li style="border:none"><a href="/guides">Guides</a></li>        
        </ul>
      </nav>
      
    </header>

    <section class="main ch-g1">
      <section class="description ch-g1">
        <article>
          <h2>Wellcome!</h2>
          <p>Whether you are an individual developer with a killer MELI App, or an Enterprise Sized Business launching a solution for MELI members, our powerful collection of web services can help you tap into the power of the marketplace.</p>
          <a href="/getting-started"class="ch-btn ch-btn-big">Getting Started</a>
          <figure><img src="images/puzzle.png" alt="MercadoLibre Developers" width="351" height="239"></figure>
        </article>
      </section>

      <section class="do-it ch-g1 home-content">
        <article class="ch-g1-3">
            <h3>Conoce las APIs</h3>
            <div class="create"></div>
            <p>Utiliza las APIs para crear aplicaciones para tu negocio, empresa, para ganar dinero o simplemente para divertirte.</p>
            <p><a href="/apis" class="seeAll">Empezar ahora</a></p>
        </article>
        <article class="ch-g1-3">
            <h3>Aprende</h3>
            <div class="learn"></div>
            <p>Mira los ejemplos y la documentación y empieza a usar las APIs de MercadoLibre para construir cosas increibles.</p>
            <p><a href="/guides" class="seeAll">Ver todas las guías</a></p>
        </article>
        <article class="ch-g1-3">
            <h3>Debate</h3>
            <div class="collaborate"></div>
            <p>Involúcrate con la comunidad de desarrolladores de MercadoLibre. Todos son bienvenidos.</p>
            <p><a href="/discuss" class="seeAll">Conectate</a></p>
        </article>
      </section>
    </section>
    
    <footer class="ch-g1">
      <div class="ch-g2-3 extras">
        <ul>
          <li>©2011 MercadoLibre S.R.L.</li>
          <li><a href="/guides/policies/developers-program-and-agreement">Contrato</a></li>
          <li><a href="/guides/policies/terms-of-use">Términos de uso</a></li>
          <li><a href="/tools">Herramientas</a></li>
          <li><a href="/discuss">Debate</a></li>
        </ul>
      </div>
      <p>This project is maintained by <a href="https://github.com/mercadolibre">mercadolibre</a></p>
      <a href="https://github.com/mercadolibre/mercadolibre.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
